/* 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */

:root {
  --el-color-primary: #1a64fa;
  --el-color-primary-light-3: #7aa6ff;
  --el-color-primary-light-5: #9ebeff;
  --el-color-primary-light-7: #c7d9ff;
  --el-color-primary-light-8: #d9e5ff;
  --el-color-primary-light-9: #ebf0fa;
  --el-color-primary-dark-2: #1451cc;
  --el-color-success: #0aba62;
  --el-color-success-light-3: #95d475;
  --el-color-success-light-5: #b3e09c;
  --el-color-success-light-7: #d1edc4;
  --el-color-success-light-8: #e1f3d8;
  --el-color-success-light-9: #f0f9eb;
  --el-color-success-dark-2: #529b2e;
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: #eebe77;
  --el-color-warning-light-5: #f2d09d;
  --el-color-warning-light-7: #f8e3c5;
  --el-color-warning-light-8: #faecd8;
  --el-color-warning-light-9: #fcf6ec;
  --el-color-warning-dark-2: #b88230;
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: #f89898;
  --el-color-danger-light-5: #fab5b5;
  --el-color-danger-light-7: #fcd3d3;
  --el-color-danger-light-8: #fde2e2;
  --el-color-danger-light-9: #fef0f0;
  --el-color-danger-dark-2: #c45656;
  --el-color-error: #f56c6c;
  --el-color-error-light-3: #f89898;
  --el-color-error-light-5: #fab5b5;
  --el-color-error-light-7: #fcd3d3;
  --el-color-error-light-8: #fde2e2;
  --el-color-error-light-9: #fef0f0;
  --el-color-error-dark-2: #c45656;
  --el-color-info: #909399;
  --el-color-info-light-3: #b1b3b8;
  --el-color-info-light-5: #c7c9cc;
  --el-color-info-light-7: #dedfe0;
  --el-color-info-light-8: #e9eaeb;
  --el-color-info-light-9: #f4f4f5;
  --el-color-info-dark-2: #73757a;
  --el-bg-color-page: #f7f7f9;

  --el-border-radius-small: 2px;
  --el-border-radius-base: 4px;
  --el-border-radius-round: 20px;

  --el-text-color-primary: #282829;
  --el-text-color-regular: #56595c;
  --el-text-color-secondary: #86898f;
  --el-text-color-placeholder: #a3a6ad;
  --el-text-color-disabled: #bbbfc7;

  /* Body */
  --v3-body-text-color: var(--el-text-color-primary);
  --v3-body-bg-color: var(--el-bg-color-page);
  /* Header 区域 = NavigationBar 组件 + TagsView 组件 */
  --v3-header-height: calc(
    var(--v3-navigationbar-height) + var(--v3-tagsview-height) + var(--v3-header-border-bottom-width)
  );
  --v3-header-bg-color: var(--el-bg-color);
  --v3-header-box-shadow: var(--el-box-shadow-lighter);
  --v3-header-border-bottom-width: 1px;
  --v3-header-border-bottom: var(--v3-header-border-bottom-width) solid var(--el-fill-color);
  /* NavigationBar 组件 */
  --v3-navigationbar-height: 50px;
  --v3-navigationbar-text-color: var(--el-text-color-regular);
  /* Sidebar 组件（左侧模式全部生效、顶部模式全部不生效、混合模式非颜色部分生效） */
  --v3-sidebar-width: 260px;
  --v3-sidebar-hide-width: 58px;
  /* --v3-sidebar-border-right: 1px solid var(--el-fill-color);
  --v3-sidebar-menu-item-height: 60px;
  --v3-sidebar-menu-tip-line-bg-color: var(--el-color-primary);
  --v3-sidebar-menu-bg-color: #001428;
  --v3-sidebar-menu-hover-bg-color: #409eff10;
  --v3-sidebar-menu-text-color: #cfd3dc;
  --v3-sidebar-menu-active-text-color: #ffffff; */
  /* TagsView 组件 */
  --v3-tagsview-height: 34px;
  --v3-tagsview-text-color: var(--el-text-color-regular);
  --v3-tagsview-tag-active-text-color: #ffffff;
  --v3-tagsview-tag-bg-color: var(--el-bg-color);
  --v3-tagsview-tag-active-bg-color: var(--el-color-primary);
  --v3-tagsview-tag-border-radius: 2px;
  --v3-tagsview-tag-border-color: var(--el-border-color-lighter);
  --v3-tagsview-tag-active-border-color: var(--el-color-primary);
  --v3-tagsview-tag-icon-hover-bg-color: #00000030;
  --v3-tagsview-tag-icon-hover-color: #ffffff;
  --v3-tagsview-contextmenu-text-color: var(--el-text-color-regular);
  --v3-tagsview-contextmenu-hover-text-color: var(--el-text-color-primary);
  --v3-tagsview-contextmenu-bg-color: var(--el-bg-color-overlay);
  --v3-tagsview-contextmenu-hover-bg-color: var(--el-fill-color);
  --v3-tagsview-contextmenu-box-shadow: var(--el-box-shadow);
  /* Hamburger 组件 */
  --v3-hamburger-text-color: var(--el-text-color-primary);
  /* RightPanel 组件  */
  --v3-rightpanel-button-bg-color: #001428;
}

/* 内容区放大时，将不需要的组件隐藏 */
body.content-large {
  /* Header 区域 = TagsView 组件 */
  --v3-header-height: var(--v3-tagsview-height);
  /* NavigationBar 组件 */
  --v3-navigationbar-height: 0px;
  /* Sidebar 组件 */
  --v3-sidebar-width: 0px;
  --v3-sidebar-hide-width: 0px;
}

/* 内容区全屏时，将不需要的组件隐藏 */
body.content-full {
  /* Header 区域 */
  --v3-header-height: 0px;
  /* NavigationBar 组件 */
  --v3-navigationbar-height: 0px;
  /* Sidebar 组件 */
  --v3-sidebar-width: 0px;
  --v3-sidebar-hide-width: 0px;
  /* TagsView 组件 */
  --v3-tagsview-height: 0px;
}
