/**
 * @description 所有主题模式下的 Vxe Table CSS 变量
 * @description 用 Element Plus 的 CSS 变量来覆写 Vxe Table 的 CSS 变量，目的是使 Vxe Table 支持多主题模式且样式统一
 * @description 在此查阅所有可自定义的变量：https://github.com/x-extends/vxe-table/blob/master/styles/css-variable.scss
 */

:root {
  /*font color*/
  --vxe-ui-font-color: var(--el-text-color-primary);
  --vxe-ui-font-tinge-color: var(--el-text-color-regular);
  --vxe-ui-font-lighten-color: var(--el-text-color-secondary);
  --vxe-ui-font-disabled-color: var(--el-text-color-disabled);

  --vxe-ui-font-primary-color: var(--el-color-primary);

  --vxe-ui-status-success-color: var(--el-color-success);
  --vxe-ui-status-info-color: var(--el-color-info);
  --vxe-ui-status-warning-color: var(--el-color-warning);
  --vxe-ui-status-danger-color: var(--el-color-danger);
  --vxe-ui-status-error-color: var(--el-color-error);

  /* table */
  --vxe-ui-table-header-font-color: var(--el-table-header-text-color);
  --vxe-ui-table-header-background-color: var(--el-table-header-bg-color);
  --vxe-ui-table-border-color: var(--el-table-border-color);
  --vxe-ui-table-body-background-color: var(--el-table-bg-color);
}
